* {
    color: green;
}

body {
    margin: 1%;
}

.btn {
    float: right;
    background: greenyellow;
    color: green;
    border-color: green;
}

.btn:hover {
    background-color: green;
    color: greenyellow;
    border-color: greenyellow;
}
 
img {
    max-width: 20px;
    max-height: 20px;
}

p {
    padding: 0% 5%;
}

.card {
    margin: 3% 0%;
}
.recipe-image {
    padding: 3%;
    min-width: 200px;
    min-height: 200px;
}