* {
    color: green;
}

body {
    margin: 1%;
}

.btn {
    float: right;
    background: greenyellow;
    color: green;
    border-color: green;
}

.btn:hover {
    background-color: green;
    color: greenyellow;
    border-color: greenyellow;
}
 
img {
    max-width: 100px;
    max-height: 100px;
}

p {
    padding: 0% 5%;
}

.card {
    margin: 3% 0%;
}

.recipe-image {
    padding: 3%;
    min-width: 200px;
    min-height: 200px;
}

.footer {
    color: #666;
}
.footer li {
    color: #666;
    list-style: none;
}

.footer li:hover {
    color: #222;
    font-weight: 600;
    cursor: pointer;
}

.footer-icons {
    /* display: inline-block; */
    height: 30px;
    width: 30px;
    margin-right: 5px;
}